/* .main-btn{
    
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
    
    transition: all 0.5s ease-in-out;
} */

/* .main-btn:hover{
    color: rgb(252, 252, 252);
    background-color: #0e7001;
    
} */